@import 'Mixins.scss';

$AppBgColor : rgb(255, 255, 255);
$AppFont : Arial, Helvetica, sans-serif;
$AppFontSize : 10px;

html {
    font-size: $AppFontSize;
    height: 100vh;
}

::-webkit-scrollbar { 
    display: none; 
}

.root {
    background-color: $AppBgColor;
    font-family: $AppFont;
    color: black;
    @include flex(row, flex-start, flex-start);
    height: 100vh;
    width: 100vw;
}