@import 'Mixins.scss';
$ClientListBgColor: red;


.clientList {
    background-color: $ClientListBgColor;
    height: 100vh;
    width: 20vw;
    @include flex(column,center,flex-start);
    overflow: scroll;
    .clientItem {
        @include flex(column,center,center);
        height: 200px;
        margin-bottom: 10px;
    }
}

.clientItem {
    .img {
        height: 100px;
        width: 100px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}